<head>
  {% block tags_head %}
  <meta charset="{{charset}}">
  <title>{% block title %}{{site_name}}{% endblock %}</title>
  <meta name="description" content="{{site_description}}">
  <meta name="keywords" content="{{site_keywords}}">
  <meta name="wot-verification" content="2cb3aa1199fd42fefd7b"/>
  <meta name="application-name" content="{{site_name}}" />
  <meta property="og:title" content="{{site_name}}" />
  <meta property="og:description" content="{{site_description}}" />
  <meta property="og:image" content="{{site_domain}}/views/assets/img/design/section1bg.jpg" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="<?= V.'assets/css/fontawesome.css'?>">
  {% block head_slickjs %}
  <link rel="stylesheet" href="<?= V.'assets/js/slick.css' ?>">
  <link rel="stylesheet" href="<?= V.'assets/js/slick-theme.css' ?>">
  {% endblock %}
  {% block head_deviconcss %}
  <link rel="stylesheet" href="<?= V.'assets/css/devicon.css'?>">
  {% endblock %}
  <link rel="stylesheet" href="<?= V.'assets/css/style.css'?>">
  <link rel="stylesheet" media="screen and (max-width:850px)" href="<?= V.'assets/css/mobile.css'?>">
  <link rel="icon" type="image/gif" href="<?= IMG ?>ico/fav.gif" />
  {% endblock %}
</head>
